@model CandyStore.Models.Producer

@{
    ViewData["Title"] = "Create Producer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Producer</h2>
<hr />
<h4>Add a new Producer</h4>
@using (Html.BeginForm())
{
    <div class="form-group">
        @*<input class="form-control"/>*@
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Country)
        @Html.TextBoxFor(model => model.Country, new { @class="form-control"})
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class="form-control"})
    </div>

    <input type="submit" value="Add a new producer" />
}
<p>@Html.ActionLink("Back to producers", "Index")</p>
