@model CandyStore.Models.Producer

@{
    ViewData["Title"] = "Producer Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)</h3>

<h3>Products:</h3>
<ul>
    @foreach (var products in Model.Products)
    {
        <li>
            @Html.ActionLink(products.Title, "Details", "Product", new { id = products.ProducerId }, null) <br />
        </li>

    }
</ul>
<p>@Html.ActionLink("Back to producers", "Index")</p>
@*<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ProducerId})</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.ProducerId})</p>*@

