@model CandyStore.Models.Producer

@{
    ViewData["Title"] = "Producer Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name, "Company Name")
@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)




<h3>Products:</h3>
<ul>
    @foreach (var products in Model.Products)
    {
        <li>
            @Html.ActionLink(products., "Details", "Experiences", new { id = experience.ExperienceId }, null) <br />
        @if (experience.People.Count > 0)
                {


            <p>People I Met:</p>
                <ul>

                    @foreach (var person in experience.People)
                    {

                        <li>@Html.DisplayFor(people => person.Name)</li>

                    }
                </ul>
        }
    </li>

    }
</ul>
<p>@Html.ActionLink("Back to list view", "Index")</p>
