@model CandyStore.Models.Producer

@{
    ViewData["Title"] = "Edit Producer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this Producer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProducerId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Country)
    @Html.EditorFor(model => model.Country)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to producers", "Index")</p>